body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}

/*HEADER*/
ul{
    display: flex;
    gap:2px;
    list-style: none;
}

.logo{
    font-size: 20px;
    padding-left: 5%;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: #E5E7EB;
    padding-right: 40px;
}

#header{
    padding-top: 15px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 10%;*/
    color: #E5E7EB;

}
/*herocontents*/
#first-section{
    background-color: #1F2937;
    color: #e5e7eb;
}
#headermain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    margin: 0;
    /*padding-top: 40px;
    padding-left: 100px;*/
    text-align: left;
}
#headermain h1{
    /*width: 40%;*/
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    padding: 0px;
}
#headermain p {
    font-size: 17px;
    margin: 10px 0px 20px;
}
#headermain button{
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
  background: #3882f6;
  font-size: 15px;
  font-weight: bold;
}

#headermain button:hover {
    background: #3961cf;
  }
 
.header-container {
    width: 40%;
  }

.header-container img {
border-radius: 15px;
width: 95%;
height: 420px;
}
/*2ND SECTION*/
#second_section {
    padding: 0 0 50px;
  }
#second-section h2{
    font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}
.container{
    /*width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;*/
    width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #1f2937;
}

.card{
   /*display: flex;
   align-items: center;
   justify-content: space-around;*/
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.card p{
    width: 80%;
}

.image-container img{
    height: 150px   ;
    width: 150px;
    border: 5px solid #3882f6;
  border-radius: 10px;
}

/*third section*/

#third-section{
  color: #1f2937;
  background-color: #e5e7eb;
  padding: 70px 150px;
  padding-bottom: 30px;
  margin-top: 50px;
}

.quote{
  font-size: 30px;
  color: #1f2937;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: lighter;
}

.author{
  text-align: right;
  font-family: 'Roboto';
    margin-top: -12px;
    color: #1f2937;
    font-weight: bold;
    font-size: 24px;
}

/*FOURTH SECTION*/

#fourth-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #3882f6;
  color: #f9faf8;
  width: 69%;
  height: 50%;
  border-radius: 12px;
  
}

.text h3{
  margin-bottom: 5px;
  
}
.text p{
  margin: 0;
}

.box button{
  padding: 5px 25px;
  border-radius: 5px;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  background: #3882f6;
  
}

.box button:hover{
  background: #3961cf;
}


/*FOOTER*/

#footer{
  background-color: #1F2937;
  color: #f9faf8;
  text-align: center;
  height: 75px;
  padding-top: 75px;
}

#footer p{
  margin: 0px;
}